{% extends 'user/index.html' %}
{%block content %}
{% load static %}
<!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>ABOUT US</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">ABOUT US</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<!--<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="images/payment-icon/about-img.jpg" alt="" />
                    </div>
                </div>-->
                <div class="col-lg-12">
                    <h2 class="noo-sh-title-top">We are <span>Freshshop</span></h2>
                    <p>DAILY FISH
The Retail venture of Baby Marine Enterprise
The voyage of ‘Daily Fish’ from ‘catch’ to ‘kitchen’ with a legacy of 49 years is nothing short of exceptional. Daily Fish, the online seafood store serves you ready to cook seafood which is ‘As good as Live’ with all the goodness of nutrients stored in it. This is in line with the vision of Baby Marine; promoters of Daily Fish and one of the leading exporters of marine products from India to Europe, US, South America, Japan, South East Asia, Gulf, South Africa and Australia for over four decades.

With world as their market, founding fathers of Baby Marine often wondered why the same international quality seafood should not be available to seafood connoisseurs in India. With the arrival of modern technology and online world, this vision too has become a reality in the form of Daily Fish, your online retail seafood store.

Daily Fish, the online seafood store offers you ‘As good as Live’ ready to cook products which are at par with what is available in international markets. To name a few, we supply directly to some of world’s retail giants such as Carrefour who are the world’s 2nd largest retailer, Metro Cash & Carry of Germany and Sysco of USA.</p>



<p>Processing Factories :Having six factories close to the best raw material sources in Mumbai, Gujarat, Karnataka, Kerala and Tamil Nadu explains how serious we are in getting the procured fish to the nearest factory, and in the shortest time possible managed with strict adherence to Quality  and by maintaining product temperature under +4.4°C (2nd step of the 7-Step State of the Art Cold Chain Process)</p>
					<a class="btn hvr-hover" href="#">Read More</a>
                </div>
            </div>
            <!--<div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Trusted</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Professional</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Expert</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
    <!-- End About Page -->

{% endblock %}